<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>
    </head>
<body>
    <header>
        <h1><a href="/">My blog</a></h1>
    </header>

    <article>
        <time>published: 01.01.2024, 12:00</time>
        <h2><a href="/post/1/">My first post</a></h2>
        <p>Hi there! This is my first post.</p>
    </article>

    <article>
        <time>published: 02.01.2024, 12:00</time>
        <h2><a href="/post/2/">My second post</a></h2>
        <p>Hi there! This is my second post.</p>
    </article>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>
